<p>user works!</p>
<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Age</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let cay of coyote; let i = index">
      <tr>
        <td>{{ i }}</td>
        <td>{{ cay.name }}</td>
        <td>{{ cay.age }}</td>
        <td>{{ cay.category }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>


<!-- <div>
    {{coyote|json}}
</div> -->
